#### GROUP HEAD : RISING ODEGUA &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;   FNS/CSC/15/26071

#### GROUP MEMBERS: 
#### 1. ELENBALU ESE JUDITH  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;     FNS/CSC/15/22496
#### 2. AGBI BLESSING ITOHAN  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;    FNS/CSC/15/22496
#### 3. YAKUBU ERNEST    &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;         FNS/CSC/15/22496
#### 4. ITUA DANIEL       &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;        FNS/CSC/15/22496
#### 6. AFEKHIKU HENRY RICHARD  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;  FNS/CSC/15/22496
#### 7. EHICHOYA ONOGIMENSIKE &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;    FNS/CSC/15/
#### 8. OMOIFO DEBORAH     &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;       FNS/CSC/15/
#### 9. OGBEKHILE COURAGE   &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;      FNS/CSC/15/
#### 10. OBOH PRECIOUS  &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;          FNS/CSC/15/23458 
#### 11. ENABOR MARIAM OSEIWE &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;   FNS/CSC/15/22173




#### COURSE CODE: CSC 403
#### COURSE TITLE: SYSTEM MODELLING AND SIMULATION

## ------------------------------------------------------------------------------------------------------
### PYTHON SOLUTION CODES
### QUESTION NUMBER 1, PAGE 165, EXAMPLE 9.4.2

In [1]:
import random
import pandas as pd # A module for creating tables
import numpy as np # A module for fast numerical calculation

#Initialize variables to hold the count
k1 = 0; k2 = 0; k3 = 0; k4 = 0; k5 = 0

random_numbers = []
test = []
no_of_survival = []

#Simulation for Number of Survivals
for i in range(50):
    r = random.uniform(0,1)
    random_numbers.append(round(r * 100))
    test.append(i + 1)
    
    if 0 < r <= 0.1296:
        no_of_survival.append(0)
        k1 = k1 + 1
    elif 0.1296 < r <= 0.4752:
        no_of_survival.append(1)
        k2 = k2 + 1
    elif 0.4752 < r <= 0.8208:
        no_of_survival.append(2)
        k3 = k3 + 1
    elif 0.8208 < r <= 0.9744:
        no_of_survival.append(3)
        k4 = k4 + 1
    else:
        no_of_survival.append(4)
        k5 = k5 + 1
    
        
print("In the first interval, the number of survivals is: {}".format(k1))
print("In the second interval, the number of survivals is: {}".format(k2))
print("In the third interval, the number of survivals is: {}".format(k3))
print("In the fourth interval, the number of survivals is: {}".format(k4))
print("In the fifth interval, the number of survivals is: {}".format(k5))

#Create the simulation table
simulation_table = pd.DataFrame({"Test": test,
                                "Random Number": random_numbers,
                                "Number of Survivals": no_of_survival}) 

#Display the table
simulation_table

In the first interval, the number of survivals is: 8
In the second interval, the number of survivals is: 19
In the third interval, the number of survivals is: 16
In the fourth interval, the number of survivals is: 7
In the fifth interval, the number of survivals is: 0

    Test  Random Number  Number of Survivals
0      1             27                    1
1      2             91                    3
2      3              4                    0
3      4             73                    2
4      5             61                    2
5      6             59                    2
6      7             39                    1
7      8             88                    3
8      9             88                    3
9     10             97                    3
10    11              5                    0
11    12             66                    2
12    13             48                    2
13    14             51                    2
14    15             97                    3
15    16             43                    1
16    17              1                    0
17    18             66                    2
18    19             34                    1
19    20             61                    2
20    21             83                    3
21    22             96                    3
22    23             29                    1
23    24             40                    1
24    25              0                    0
25    26             20                    1
26    27             60                    2
27    28             68                    2
28    29             43                    1
29    30              0                    0
30    31             20                    1
31    32             36                    1
32    33             49                    2
33    34             77                    2
34    35             24                    1
35    36             73                    2
36    37             30                    1
37    38             31                    1
38    39              7                    0
39    40             41                    1
40    41             62                    2
41    42              2                    0
42    43             45                    1
43    44             28                    1
44    45             73                    2
45    46             18                    1
46    47             32                    1
47    48             29                    1
48    49              9                    0
49    50             69                    2

In [2]:
#Calculates the average number of survivals
average_no_survivals = np.sum(simulation_table['Number of Survivals']) / len(no_of_survival)
print("The Average number of survivals is {}".format(average_no_survivals))

The Average number of survivals is 1.44